.input-icons i {
  position: absolute;
}

.icon {
  padding-left: 9px;
  padding-top: 8px;
  min-width: 40px;
  vertical-align: middle;
}

.flag-option{
  text-align: left;
}

.flag-icon {
  width: 20px;
  vertical-align: middle;
}

.caret-style {
  margin-left: 20px;
  margin-right: -20px;
}

.option-field {
  margin-left: 10px;
  vertical-align: middle;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.input-field {
  padding: 10px;
  text-align: left;
}

.title-centered {
  width: 100px;
}

.centered{
  position: fixed;
  top: 25%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 0;
}
input[type=text] {
  /* background-color: #f1f1f1; */
  width: 100%;
  padding-left: 30px;
}

.autocomplete-items {
  max-height: 250px;
  overflow: auto;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
